<div class="card border-0">
  <div class="card-body">
    <h4 class="mb-4 mt-4">Add Tags</h4>
    <div class="row">
      <div class="form-group col-6">
        <label for="add-tag-name">Tag name*</label>
        <div class="input-group mb-3">
          <input [(ngModel)]="newTag.tagName" type="text" class="form-control" name="add-tag-name" autocomplete="off">
          <div class="input-group-append">
            <button [disabled]="!newTag.tagName" (click)="createTag()" class="btn btn-primary" type="button" id="button-addTag">Create tag</button>
          </div>
        </div>
      </div>
    </div>

    <h4 class="mb-4 mt-4">Existing Tags</h4>
    <table class="table table-borderless table-sm table-striped">
      <thead class="thead-dark">
        <tr>
          <th common-ux-sortable-table-header
          *ngFor="let header of headerLabels"
          (sort)="onSort($event)"
          [propertyName]="header.propertyName"
          [displayName]="header.displayName"
          [width]="header.width"
          class="pl-3"></th>
          <th style="width:120px;"><!-- Edit actions --></th>
        </tr>
      </thead>
      <tbody>
        <tr tag-row
            *ngFor="let tag of sortedTags"
            [tag]="tag"
        ></tr>
      </tbody>
    </table>

   </div>
</div>

