<common-ux-slide-panel class="nav-slide-menu" [paneVisible]="paneVisible" [slideDirection]="'left'">
    <div pane class="nav-slide-menu-content shadow bg-white">
        <!-- User login and registration -->
        <div *ngIf="!user">
            <div *ngIf="showLoginForm; then loginForm else registerForm"></div>

            <div class="dropdown-divider"></div>       
            
            <button *ngIf="showLoginForm else loginButton" (click)="showLoginForm=false" class="dropdown-item">New around here? Sign up</button>
            <ng-template #loginButton><button (click)="showLoginForm=true" class="dropdown-item">Already registered? Sign in</button></ng-template>
            
            <div class="dropdown-divider"></div> 
            
            <button class="dropdown-item">Forgot password?</button>
            
            <div class="dropdown-divider"></div>
        </div>

        <!-- User edit profile and logout -->
        <div *ngIf="user" class="pt-3">
            <button class="dropdown-item" routerLink="/profile/edit" (click)="togglePanelState(false)">Edit Profile</button>
            <div class="dropdown-divider"></div> 
            <button (click)="logOut()" class="dropdown-item">Log Out</button>
            <div class="dropdown-divider"></div> 
        </div>
    </div>
</common-ux-slide-panel>

    
<nav class="navbar navbar-dark navbar-expand-lg fixed-top shadow" style="background-color:#1976d2">
    <a class="navbar-brand" routerLink="/home">
        <img src="/static/assets/logo_transparent.png" width="30" height="30" class="d-inline-block align-top" alt="Smush Tracker">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'disabled': !user}" routerLink="/matches" routerLinkActive="active">
                    Matches
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'disabled': !user}" routerLink="/insights" routerLinkActive="active">
                    Insights
                </a>
            </li>
        </ul>


        <div class="d-inline-block">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <span class="nav-link" (click)="togglePanelState()">
                        <span *ngIf="!user" class="mr-3">Log in</span>
                        <span *ngIf="user" class="mr-3">
                            <img src="/static/assets/icons/joker.png" width="20" height="20" 
                            class="user-icon" [alt]="user?.userDefaultCharacterName">
                            {{user?.userName}}
                        </span>
        
                        <fa-icon [icon]="faBars"></fa-icon>
                    </span>
                </li>
            </ul>

        </div>
    </div>
</nav>


<ng-template #loginForm>
    <div class="p-4">
        <div class="form-group mb-1">
            <label for="loginFormEmail" class="mb-0">Email address</label>
            <input [(ngModel)]="logInModel.emailAddress" type="email" class="form-control" id="loginFormEmail">
        </div>
        <div class="form-group mb-2">
            <label for="loginFormPassword" class="mb-0">Password</label>
            <input [(ngModel)]="logInModel.password" type="password" class="form-control" id="loginFormPassword">
        </div>
        <button (click)="logIn()" class="btn btn-primary mt-1">Sign in</button>
    </div>
</ng-template>

<ng-template #registerForm>
    <div class="p-4">
        <div class="form-group mb-1">
            <label for="dropdownFormEmail" class="mb-0">Email address</label>
            <input [(ngModel)]="newUser.emailAddress" (focus)="showRegistrationFormWarnings=false" type="email" class="form-control"
            [ngClass]="{ 'border-danger': (!newUser.emailAddress && showRegistrationFormWarnings) }" id="dropdownFormEmail">
        </div>
        <div class="form-group mb-1">
            <label for="dropdownFormUserName" class="mb-0">Username</label>
            <input [(ngModel)]="newUser.userName" (focus)="showRegistrationFormWarnings=false" type="text" class="form-control" 
            [ngClass]="{ 'border-danger': (!newUser.userName && showRegistrationFormWarnings) }" id="dropdownFormUserName">
        </div>
        <div class="form-group mb-1">
            <label for="dropdownFormPassword1" class="mb-0">Password</label>
            <input [(ngModel)]="newUser.password" (focus)="showRegistrationFormWarnings=false" type="password" class="form-control" 
            [ngClass]="{ 'border-danger': (!newUser.password && showRegistrationFormWarnings) }" id="dropdownFormPassword1">
        </div>
        <div class="form-group mb-2">
            <label for="dropdownFormPassword2" class="mb-0">Confirm Password</label>
            <input [(ngModel)]="newUser.passwordConfirm" (focus)="showRegistrationFormWarnings=false" type="password" class="form-control" 
            [ngClass]="{ 'border-danger': ((newUser.passwordConfirm && newUser.passwordConfirm!==newUser.password) 
            || (!newUser.passwordConfirm && showRegistrationFormWarnings)) }" id="dropdownFormPassword2">
        </div>
        <button (click)="createUser();" class="btn btn-primary mt-1">Register</button>
    </div>
</ng-template>