.user-form-button {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.user-form-dropdown {
    width:300px;
}
img.user-icon {
    position:relative;
    top:-2px;
}



.nav-slide-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  max-width: 300px;
  background: none;
}
.nav-slide-menu-content {
  height:100%;
  margin-top:50px;
  margin-left:1rem;
  height:100%;
}
.nav-slide-toggle {
  cursor:pointer;
}
