<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <ngb-tabset>
      <ngb-tab>
        <ng-template ngbTabTitle>Tags</ng-template>
        <ng-template ngbTabContent>
           <admin-tag></admin-tag>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Characters</ng-template>
        <ng-template ngbTabContent>
            <admin-character></admin-character>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="col-2"></div>
</div>
