.chart-container {
  width:700px;
  position:absolute;
  left:50%;
  margin-left:-400px;
  margin-bottom:20px;
}
.tooltip-data {
    font-size: 1.25em;
}
ngx-charts-line-chart.chart-container {
  width:800px;
  margin-left:-410px;
}