<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="form-row">
            <div class="col">
                <!-------------------
                     Chart select
                --------------------->
                <select [(ngModel)]="selectedChart" (change)="updateAndRenderChart()" class="custom-select">
                    <option *ngFor="let chart of charts" [ngValue]="chart">{{chart.chartName}}</option>
                </select>
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="col-6 pr-1">
                <div class="form-row">
                    <!-------------------
                         Date select
                    --------------------->
                    <div class="input-group col-6">
                        <input class="form-control" placeholder="Start date" name="start-date" 
                            [(ngModel)]="startDate" (dateSelect)="updateAndRenderChart()" 
                            ngbDatepicker #dpStart="ngbDatepicker" autocomplete="off" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dpStart.toggle()" type="button">
                                <fa-icon [icon]="faCalendarAlt"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="input-group col-6">
                        <input class="form-control" placeholder="End date" name="end-date" 
                            [(ngModel)]="endDate" (dateSelect)="updateAndRenderChart()" 
                            ngbDatepicker #dpEnd="ngbDatepicker" autocomplete="off" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dpEnd.toggle()" type="button">
                                <fa-icon [icon]="faCalendarAlt"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 pl-1">
                <!-------------------
                     User select
                --------------------->
                <select [disabled]="!this.users?.length" [(ngModel)]="selectedUser" (change)="updateAndRenderChart()" class="custom-select">
                    <option *ngIf="selectedChart.chartId != 2" [ngValue]="null">-- Data from all users --</option>
                    <option *ngFor="let user of users" [ngValue]="user">{{user.userName}}</option>
                </select>
            </div>
        </div>
        <div class="form-row mt-2">
            <!-------------------
                   Sorting
            --------------------->
            <div class="col-6 pr-1">
                <select [(ngModel)]="sortType" (change)="updateAndRenderChart()" 
                [disabled]="selectedChart.chartId != 1" class="custom-select">
                    <option [ngValue]="null">-- Sort by --</option>
                    <option value="alpha">Alphabetical</option>
                    <option value="use">Usage</option>
                </select>
            </div>
            <div class="col-6 pl-1">
                <select [(ngModel)]="sortOrder" (change)="updateAndRenderChart()" 
                [disabled]="selectedChart.chartId != 1" class="custom-select">
                    <option [ngValue]="null">-- Sort order --</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div *ngIf="!isInitialLoad && matches?.length && !noFilteredDataToDisplay">
                    <!-------------------
                          Bar chart
                    --------------------->
                    <chart-bar-horizontal 
                        *ngIf="selectedChart.chartType=='bar'"
                        [data]="chartData"
                        [dataUnit]="dataUnit"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [xAxisTickFormatting]="xAxisTickFormatting"
                        [yAxisTickFormatting]="yAxisTickFormatting"
                    ></chart-bar-horizontal>
                    <!-------------------
                          Line chart
                    --------------------->
                    <chart-line 
                        *ngIf="selectedChart.chartType=='line'"
                        [data]="multiSeriesChartData"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [xAxisTickFormatting]="xAxisTickFormatting"
                        [yAxisTickFormatting]="yAxisTickFormatting"
                    ></chart-line>
                </div>
                <div *ngIf="isInitialLoad" class="text-center insights-chart-container">
                    <div class="skeleton-chart text-center mt-2">
                        <div class="filler-bar-container border-left border-dark">
                            <div 
                            *ngFor="let percent of fillerPercents; index as i"
                            [ngStyle]="{'width':percent+'%'}"
                            [ngClass]="{'mb-2': i!=fillerPercents.length-1}"
                            class="filler-bar rounded-right bg-dark"></div>
                        </div>
                        <div class="filler-x-label bg-dark rounded-pill mt-4"></div>
                        <div class="filler-y-label bg-dark rounded-pill"></div>
                        <div class="filler-tooltip">
                            <div class="tooltip-body rounded-sm bg-dark"></div>
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isInitialLoad && (!matches?.length || noFilteredDataToDisplay)" class="text-center no-data-block">
                    <h3 class="text-black-50">No matches found</h3>
                </div>
            </div>
        </div>

    </div>
    <div class="col-2"></div>
</div>


