<div class="container p-4">
  <div class="card">   
    <form>
      <div class="card-body">
          <div class="row">
            <div class="form-group col-6">
              <label for="opponent-character">Opponent character*</label>
              <common-ux-typeahead #opponentCharacterNameInput (blur)="test($event)" (select)="match.opponentCharacterName = $event" id="opponent-character"></common-ux-typeahead>
            </div>
            <div class="form-group col-6">
              <label for="opponent-gsp">Opponent's GSP</label>
              <input [(ngModel)]= "match.opponentCharacterGsp" id="opponent-gsp" name="opponent-gsp" class="form-control" autocomplete="off" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-6">
              <label for="user-character">Your character</label>
              <common-ux-typeahead (select)="match.userCharacterName = $event" id="user-character"></common-ux-typeahead>
            </div>
            <div class="form-group col-6">
              <label for="user-gsp">Your character's GSP</label>
              <input [(ngModel)]= "match.userCharacterGsp" id="user-gsp" name="user-gsp" class="form-control" autocomplete="off" />
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-3">Opponent:</div>
                <div class="form-check col-3">
                  <input [(ngModel)]= "match.opponentCamp" class="form-check-input" name="opponent-teabag" type="checkbox" value="" id="opponent-teabag">
                  <label class="form-check-label" for="opponent-teabag">
                    Camper
                  </label>
                </div>
                <div class="form-check col-3">
                  <input [(ngModel)]= "match.opponentTeabag" class="form-check-input" name="opponent-campy" type="checkbox" value="" id="opponent-campy">
                  <label class="form-check-label" for="opponent-campy">
                    Teabagger
                  </label>
                </div>
                <div class="form-check col-3">
                  <input [(ngModel)]= "match.opponentAwesome" class="form-check-input" name="opponent-awesome" type="checkbox" value="" id="opponent-awesome">
                  <label class="form-check-label" for="opponent-awesome">
                    Real pal
                  </label>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-4">
                  Match outcome:
                </div>
                <div class="form-check col-4">
                  <input [(ngModel)]= "match.userWin" class="form-check-input" type="radio" name="match-outcome" id="match-outcome-win" value="true">
                  <label class="form-check-label" for="match-outcome-win">
                    Win
                  </label>
                </div>
                <div class="form-check col-4">
                  <input [(ngModel)]= "match.userWin" class="form-check-input" type="radio" name="match-outcome" id="match-outcome-loss" value="false">
                  <label class="form-check-label" for="match-outcome-loss">
                    Loss
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div><!-- Close card-body -->
                    
        <div class="card-footer">
            <div class="form-group text-right m-0">
                <span *ngIf="showFooterWarnings && !validateMatch()" class="text-danger mr-3">{{warnings.join(" ")}}</span>
                <!-- Can't put events on disabled form inputs -->
                <span (mouseenter)="showFooterWarnings=true" (mouseleave)="showFooterWarnings=false">
                  <button [disabled]="!validateMatch()" (click)="createEntry()" type="submit" class="btn btn-primary">Submit</button>
                </span>
            </div>  
        </div>
        </form>
    </div>

  <div *ngIf="lastSavedMatch" class="card mt-4">
    <div class="card-header">Last Saved Match</div>
    <div class="card-body">
      <ul>
        <li>Opponent character: {{lastSavedMatch.opponentCharacterName}}</li>
        <li *ngIf="lastSavedMatch.opponentCharacterGsp">Opponent character GSP: {{lastSavedMatch.opponentCharacterGsp}}</li>
        <li *ngIf="lastSavedMatch.userCharacterName">User character: {{lastSavedMatch.userCharacterName}}</li>
        <li *ngIf="lastSavedMatch.userCharacterGsp">User character GSP: {{lastSavedMatch.userCharacterGsp}}</li>
        <li *ngIf="lastSavedMatch.opponentCamp">Opponent camp: {{lastSavedMatch.opponentCamp}}</li>
        <li *ngIf="lastSavedMatch.opponentTeabag">Opponent teabag: {{lastSavedMatch.opponentTeabag}}</li>
        <li *ngIf="lastSavedMatch.opponentAwesome">Opponent awesome: {{lastSavedMatch.opponentAwesome}}</li>
        <li *ngIf="lastSavedMatch.userWin!=null">User win: {{lastSavedMatch.userWin}}</li>
      </ul>
    </div>
  </div>

</div> <!-- Close container -->

<router-outlet></router-outlet>

<common-ux-toasts aria-live="polite" aria-atomic="true"></common-ux-toasts>
