<div class="card">   
    <form>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-6">
                    <label for="opponent-character">Opponent character*</label>
                    <common-ux-typeahead 
                    [items]="characters"
                    [textPropertyName]="'characterName'"
                    [valuePropertyName]="'characterId'"
                    [value]="match.opponentCharacterId"
                    (selectItem)="onSelectOpponentCharacter($event)"
                    id="opponent-character"></common-ux-typeahead>
                </div>
                <div class="form-group col-6">
                    <label for="opponent-gsp">Opponent character's GSP</label>
                    <common-ux-masked-number-input [(numberValue)]="match.opponentCharacterGsp"></common-ux-masked-number-input>      
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label for="user-character">
                        Your character<span *ngIf="match.userCharacterGsp">*</span>
                    </label>
                    <common-ux-typeahead 
                    [items]="characters" 
                    [textPropertyName]="'characterName'"
                    [valuePropertyName]="'characterId'"
                    [value]="match.userCharacterId"
                    (selectItem)="onSelectUserCharacter($event)"
                    id="user-character"></common-ux-typeahead>
                </div>
                <div class="form-group col-6">
                    <label for="user-gsp">Your character's GSP</label>
                    <common-ux-masked-number-input [(numberValue)]="match.userCharacterGsp"></common-ux-masked-number-input>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="match-tags">
                        Tags
                    </label>
                    <common-ux-tag-input 
                    [tags]="tags"
                    [popoverClass]="'tag-popover-move-left'"
                    [(selectedTags)]="matchTags">
                    </common-ux-tag-input>
                </div>
                <div class="col-6">
                    <div>Match outcome:</div>
       
                    <div class="btn-group btn-group-toggle mt-2" ngbRadioGroup name="match-outcome" [(ngModel)]="match.userWin">
                        <label ngbButtonLabel class="btn-outline-secondary">
                            <input ngbButton type="radio" [value]="true"> Win
                        </label>
                        <label ngbButtonLabel class="btn-outline-secondary">
                            <input ngbButton type="radio" [value]="false"> Loss
                        </label>
                    </div>
                 
                </div>
            </div><!-- Close row -->
        </div><!-- Close card-body -->

        <div class="card-footer p-2">
            <div class="form-group text-right m-0">
                <span *ngIf="showFooterWarnings && !validateMatch()" class="text-danger mr-3" style="position:relative;top:2px;">{{warnings.join(" ")}}</span>
                <!-- Can't put events on disabled form inputs -->
                <span (mouseenter)="showFooterWarnings=true" (mouseleave)="showFooterWarnings=false">
                    <button [disabled]="!validateMatch() || isSaving" (click)="createEntry()" type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </span>
            </div>  
        </div>
    </form>
</div>