<table *ngIf="sortedMatches?.length; else noDataBlock" class="table table-borderless table-sm table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th common-ux-sortable-table-header
            *ngFor="let header of headerLabels"
            (sort)="onSort($event)"
            [propertyName]="header.propertyName" 
            [displayName]="header.displayName"
            [width]="header.width"
            ></th>
            <th style="width:120px;"><!-- Edit actions --></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of sortedMatches"
            match-row 
            [match]="match" 
            [isUserOwned]="match.userId==user?.userId"
            [characters]="characters" 
            [ngClass]="{'highlight':match.isNew}">
        </tr>
    </tbody>
</table>
<ng-template #noDataBlock>
    <div class="text-center no-data-block">
        <h3 class="text-black-50">No matches found</h3>
    </div>
</ng-template>