<div class="row">
    <div class="col text-center">
        <img src="/static/assets/cakebin.png" width="300" height="300" alt="Cakebin">
    </div>
</div>
<div class="row mt-4">
    <div class="col-3"></div>
    <div class="col-6 text-justify">
        <h3>Hey there!</h3>
        <h4 class="mb-4">We are Cakebin and this our SSBU match data tracker.</h4>
        <p>
            We clearly make questionable life decisions and play too much Smash, 
            so this is our way to simultaneously scratch that Switch itch and produce something semi-useful.
        </p>
        <p>
            There's plenty of fun data and insights to be gathered from the number of online matches 
            that we and our collective friends play. Want to add yours to the mix? 
            <a routerLink="/home">Create an account</a> and dive right into the data entry madness!!!
        </p>
    </div>
    <div class="col-3"></div>
</div>
    