<div *ngIf="user" class="row">
    <div class="col-2"></div>
    <div class="col-8">


        <div class="card border-0">
            <div class="card-body">
                <h4 class="mb-4">Account details</h4>

                <div class="form-group">
                    <label for="email-address">Email address</label>
                    <input disabled [(ngModel)]="editedUser.emailAddress" type="text" name="email-address" class="form-control" /> 
                </div>
              
                <div class="form-group">
                    <label for="display-name">Display name</label>
                    <input [(ngModel)]="editedUser.userName" type="text" name="display-name" class="form-control" /> 
                </div>
             
                <!--
                <div class="form-group">
                    <label for="user-character">
                        Default character 
                        <fa-icon 
                        [icon]="faQuestionCircle" 
                        placement="right" 
                        ngbTooltip="Who likes unnecessary and repetitive typing? We'll automagically fill the match input form with this character for you.">
                        </fa-icon>
                    </label>
                    <common-ux-typeahead [items]="characters" [defaultItem]="editedUser.defaultCharacterName" (selectItem)="onSelectDefaultCharacter($event)" id="default-character"></common-ux-typeahead>
                </div>
            
                <div class="form-group">
                    <label for="user-gsp">
                        Default GSP 
                        <fa-icon 
                        [icon]="faQuestionCircle" 
                        placement="right" 
                        ngbTooltip="Typing in our GSPs over and over was the hardest part of testing this app. We'll do you a solid with this GSP auto-fill option.">
                        </fa-icon>
                    </label>
                    <common-ux-masked-number-input [(numberValue)]="defaultCharacterGspString"></common-ux-masked-number-input>
                </div>
                -->

                <h4 class="mb-4" style="margin-top:50px;">Saved characters</h4>

                <table *ngIf="savedCharactersTestData?.length; else noDataBlock"
                class="table table-borderless table-sm table-striped table-hover mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th class="pl-3">Character name</th>
                            <th class="pl-3">Character GSP</th>
                            <th style="width:150px;"><!-- Edit actions --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let char of savedCharactersTestData; index as i">
                            <td class="align-middle" [ngClass]="{'pl-3':i!=2}">
                                <span *ngIf="i==2">
                                    <common-ux-typeahead [defaultItem]="char.name" [items]="characters"></common-ux-typeahead>
                                </span>
                                <span *ngIf="i!=2">{{char.name}}</span>
                            </td>
                            <td class="align-middle" [ngClass]="{'pl-3':i!=2}">
                                <span *ngIf="i==2">
                                    <common-ux-masked-number-input [(numberValue)]="char.gsp"></common-ux-masked-number-input>
                                </span>
                                <span *ngIf="i!=2">{{char.gsp | number}}</span>
                            </td>
                            <td class="text-right align-middle">
                                <div *ngIf="i==2" class="btn-group btn-block">
                                    <button class="btn btn-outline-primary">Save</button>
                                    <button class="btn btn-outline-primary">Cancel</button>
                                </div>
                                <div *ngIf="i!=2" class="btn-group btn-block">
                                    <button type="button" class="btn btn-outline-secondary p-1">Set default</button>
                                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                        <button class="btn btn-outline-secondary dropdown-toggle-split p-1" ngbDropdownToggle></button>
                                        <div class="dropdown-menu" ngbDropdownMenu>
                                            <button ngbDropdownItem>Update</button>
                                            <button ngbDropdownItem>Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="1">
                            <td>
                                <common-ux-typeahead [defaultItem]="editChar.name" [items]="characters"></common-ux-typeahead>
                            </td>
                            <td>
                                <common-ux-masked-number-input [(numberValue)]="editChar.gsp"></common-ux-masked-number-input>
                            </td>
                            <td class="text-right align-middle">
                                <button class="btn btn-block btn-outline-primary p-1">Add character</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noDataBlock>
                    <div class="text-center no-data-block">
                        <h3 class="text-black-50">No characters found</h3>
                    </div>
                </ng-template>

                <div class="form-group mt-4 mb-0 text-center">
                    <button [disabled]="!formChanged || isSaving" (click)="updateUser()"
                    type="submit" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>


    </div>
    <div class="col-2"></div>
</div>