<div class="flex-container">
    <div class="flex-item flex-item--fixed">
        <div class="flex-content">
            <div class="row">
                <div class="col text-center">
                    <img src="/static/assets/cakebin.png" width="300" height="300" alt="Cakebin">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col text-justify">
                    <h3>Hey there!</h3>
                    <h4 class="mb-4">We are Cakebin and this is our SSBU match data tracker.</h4>
                    <p>
                        We make questionable life decisions and play too much Smash.  
                        This is our way to scratch that Switch itch while producing something semi-useful.
                    </p>
                    <p>
                        We're gathering data and insight from the online matches 
                        we and our collective friends play. Want to add yours to the mix? 
                        <a class="text-primary cursor-pointer" (click)="openLoginPanel()">Log in</a> and dive right into the data entry fun! 
                        <span style="font-size:1.3rem; position:absolute; margin-top:-2px; margin-left:5px;">🤓</span>
                    </p>
                </div>
            </div> 
        </div>  
    </div>   
</div>