/* Large viewports */
.home-page {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.cakebin {
    width: 18.750em;
    height: 18.750em;
}


/* Medium viewports */
@media (max-width : 900px) {
    .home-page {
        width: 80%;
    }
}


/* Small viewports */
@media (max-width : 420px) {
    .home-page {
        width: 90%
    }

    .cakebin {
        width: 90%;
        height: 100%;
    }
 }
