<!-- View row -->
<ng-container *ngIf="!match.editMode; else editing">
    <td class="align-middle">{{match.userName}}</td>
    <td class="align-middle">{{match.userCharacterName}}</td>
    <td class="align-middle">{{match.userCharacterGsp | number}}</td>
    <td class="align-middle">{{match.opponentCharacterName}}</td>
    <td class="align-middle">{{match.opponentCharacterGsp | number}}</td>
    <td class="text-center align-middle">
        <span *ngIf="match.userWin==true" class="text-success font-weight-bold">
            <fa-icon [icon]="faCheck"></fa-icon>
        </span>
        <span *ngIf="match.userWin==false" class="text-danger font-weight-bold">
            <fa-icon [icon]="faTimes"></fa-icon>
        </span>
    </td>

    <td class="align-middle">
        <span *ngFor="let tag of match.matchTags" class="badge badge-secondary mr-1">{{tag.tagName}}</span>
    </td>

    <td class="align-middle">{{match.created | date:"MM/dd/yy h:mm a"}}</td>
    <td class="text-center align-middle">
        <ng-container *ngIf="isUserOwned">
            <button (click)="editMatch(match)" class="btn btn-sm btn-link m-0 p-1"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
            <button (click)="deleteMatch(match)" class="btn btn-sm btn-link m-0 p-1"><fa-icon [icon]="faTrash"></fa-icon></button>
        </ng-container>
    </td>
</ng-container>


<!-- Edit row -->
<ng-template #editing>
    <td class="align-middle">{{editedMatch.userName}}</td>
    <td class="align-middle">
        <common-ux-typeahead 
        [items]="characters"
        [textPropertyName]="'characterName'" 
        [valuePropertyName]="'characterId'" 
        [value]="editedMatch.userCharacterId" 
        (selectItem)="onSelectEditUserCharacter($event)"
        [size]="'sm'">
        </common-ux-typeahead>
    </td>
    <td class="align-middle">
        <common-ux-masked-number-input
            [(numberValue)]="editedMatch.userCharacterGsp"
            [size]="'sm'">
        </common-ux-masked-number-input>
    </td>
    <td class="align-middle">
        <common-ux-typeahead 
        [items]="characters"
        [textPropertyName]="'characterName'" 
        [valuePropertyName]="'characterId'" 
        [value]="editedMatch.opponentCharacterId" 
        (selectItem)="onSelectEditOpponentCharacter($event)"
        [size]="'sm'">
        </common-ux-typeahead>
    </td>
    <td class="align-middle">
        <common-ux-masked-number-input
            [(numberValue)]="editedMatch.opponentCharacterGsp"
            [size]="'sm'">
        </common-ux-masked-number-input>
    </td>
    <td class="text-center align-middle">
        <select [(ngModel)]="editedMatch.userWin" name="userWin" class="form-control-sm">
            <option [ngValue]="null">N/A</option>
            <option *ngFor="let option of boolOptions" [ngValue]="option.value">{{option.name}}</option>  
        </select>
    </td>

    <td class="align-middle">
        <common-ux-typeahead 
        [clearOnSelect]="true"
        [items]="tags" 
        [textPropertyName]="'tagName'"
        [valuePropertyName]="'tagId'"
        [value]="newTag"
        [size]="'sm'"
        (selectItem)="onSelectTag($event)"
        id="match-tags"></common-ux-typeahead>
        <div>
            <span *ngFor="let tag of editedMatchTags" class="badge badge-secondary mr-1">
                {{tag.tagName}}
                <span (click)="removeTag(tag)" class="ml-1 cursor-pointer">x</span>
            </span>
        </div>
    </td>
    <td class="align-middle">{{editedMatch.created | date:"MM/dd/yy h:mm a"}}</td>
    <td class="text-center align-middle"
    #warningPop="ngbPopover"
    [ngbPopover]=""
    placement="left"
    triggers="manual"
    (mouseenter)="openWarningPopover(warningPop)"
    (mouseleave)="warningPop.close()">
        <div class="btn-group btn-block">
            <button 
            [disabled]="!this.editedMatch.opponentCharacterId" 
            (click)="saveChanges()" 
            class="btn btn-sm btn-light border-secondary">Save</button>
            
            <button (click)="resetState()" class="btn btn-sm btn-light border-secondary">Cancel</button>
        </div>
    </td>
</ng-template>