<div class="modal-header">
    <div class="modal-title h5">Edit match</div>
</div>
<div class="modal-body">
    <div class="row mt-3 mb-3">
        <div class="col">
            <div class="row">
                <div class="form-group col-6">
                    <label for="opponent-character">Opponent character*</label>
                    <common-ux-typeahead 
                    [items]="characters"
                    [textPropertyName]="'characterName'"
                    [valuePropertyName]="'characterId'"
                    [value]="editedMatch.opponentCharacterId"
                    (selectItem)="onSelectOpponentCharacter($event)"
                    id="opponent-character"></common-ux-typeahead>
                </div>
                <div class="form-group col-6">
                    <label for="opponent-gsp">Opponent character's GSP</label>
                    <common-ux-masked-number-input [(numberValue)]="editedMatch.opponentCharacterGsp"></common-ux-masked-number-input>      
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label for="user-character">
                        Your character<span *ngIf="editedMatch.userCharacterGsp">*</span>
                    </label>
                    <common-ux-typeahead 
                    [items]="characters" 
                    [textPropertyName]="'characterName'"
                    [valuePropertyName]="'characterId'"
                    [value]="editedMatch.userCharacterId"
                    (selectItem)="onSelectUserCharacter($event)"
                    id="user-character"></common-ux-typeahead>
                </div>
                <div class="form-group col-6">
                    <label for="user-gsp">Your character's GSP</label>
                    <common-ux-masked-number-input [(numberValue)]="editedMatch.userCharacterGsp"></common-ux-masked-number-input>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="match-tags">Tags</label>
                    <common-ux-tag-input 
                    [tags]="tags" 
                    [(selectedTags)]="editedMatchTags"
                    id="match-tags"></common-ux-tag-input>
                </div>
                <div class="col-6">
                    <div>Match outcome:</div>
       
                    <div [(ngModel)]="editedMatch.userWin" class="btn-group btn-group-toggle mt-2" ngbRadioGroup name="match-outcome">
                        <label ngbButtonLabel class="btn-outline-secondary">
                            <input (click)="editedMatch.userWin = (editedMatch.userWin ? null : true)" ngbButton type="radio" [value]="true"> Win
                        </label>
                        <label ngbButtonLabel class="btn-outline-secondary">
                            <input (click)="editedMatch.userWin = (editedMatch.userWin===false ? null : false)" ngbButton type="radio" [value]="false"> Loss
                        </label>
                    </div>
                 
                </div>
            </div><!-- Close row -->
        </div>
    </div>
    <span 
    *ngIf="showFooterWarnings && !validateMatch()"
    class="text-danger">
        {{warnings.join(" ")}}
    </span>
</div>
<div class="modal-footer">
  <span *ngIf="!validateMatch()" 
  class="text-danger mr-3" 
  placement="top" 
  [ngbPopover]="popContent"
  triggers="mouseenter:mouseleave">
      Invalid match
      <fa-icon [icon]="faQuestionCircle"></fa-icon>
      <ng-template #popContent>{{warnings.join(' ')}}</ng-template>
  </span>

  <button type="button" class="btn btn-outline-secondary mr-2" (click)="close()">Cancel</button>
  <button 
  [disabled]="!validateMatch() || isSaving"
  (click)="saveChanges()"
  type="button" 
  class="btn btn-primary">
    Save changes
  </button>
</div>  
