<div class="row">
  <div class="col-3"></div>
  <div class="col-6">

    <h4 class="mt-4 mb-4">Request password reset</h4>

    <div class="form-group">
        <label for="request-email-address">Email address</label>
        <div class="input-group">
            <input [(ngModel)]="emailAddress" type="text" class="form-control" name="request-email-address" autocomplete="off">
            <div class="input-group-append">
              <button [disabled]="!emailAddress || isSaving" class="btn btn-primary" type="button" id="button-request-reset">Submit</button>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
      <p class="m-0">Email sent with instructions on how to reset your password.</p>
      <p class="m-0">Didn't receive it? <a href="#" (click)="false">Send it again.</a></p>
    </div>




  </div>
  <div class="col-3"></div>
</div>