<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div *ngIf="resetSuccessful" class="alert alert-primary mt-3">
      Your password has been reset! You will be redirected to the home page shortly.
    </div>
    <div *ngIf="resetFailed" class="alert alert-warning mt-3">
      Password could not be reset. You can <a href="/reset-password/request">request another reset</a> 
      or contact the administrators for assistance.
    </div>
    <div *ngIf="tokenExpired" class="alert alert-warning mt-3">
      This reset token has expired.
    </div>

    <h4 class="mt-4 mb-4">Reset password</h4>

    <div class="form-group">
        <label for="resetPassword1">New password</label>
        <input [(ngModel)]="newPassword" (focus)="showWarnings=false"  
        [disabled]="requestSent || tokenExpired"
        class="form-control" type="password" id="resetPassword1" name="resetPassword1">
    </div>
    <div class="form-group">
        <label for="resetPassword2">Confirm password</label>
        <input [(ngModel)]="newPasswordConfirm" (focus)="showWarnings=false"  
        [disabled]="requestSent || tokenExpired"
        [ngClass]="{'border-danger': 
        ((newPasswordConfirm && newPasswordConfirm!==newPassword) 
        || (!newPasswordConfirm && showWarnings)) }"
        class="form-control" type="password" id="resetPassword2" name="resetPassword2">
    </div>
    <div class="text-center">
        <button (click)="sendReset()" 
        [disabled]="newPasswordConfirm!==newPassword || requestSent || tokenExpired" 
        class="btn btn-primary mt-1">Reset</button>
    </div>

  </div>
  <div class="col-3"></div>
</div>